#PENTRU MAILTRAP https://mailtrap.io/home
MAILTRAP_USER=""
MAILTRAP_PASS=""

#PENTRU MAIL REAL, TREBUIE FACUT DIN GOOGLE 2FA SI GENERAT APP PASSWORD
SMTP_USER=""
SMTP_PASS=""

#SCHIMBA VALOAREA ASTA DACA VREI SA FIE SPRE MAILTRAP SAU MAIL REAL
#true = mailtrap, false = mail real
MOCK_MAIL="true"

#PENTRU BAZA DE DATE
DB_HOST="localhost"
DB_NAME="kim_db"
DB_USER="root"
DB_PASS=""

#SCHIMBA ACEST URL CU BASE PENTRU A PUTEA TRIMITE LINK-URI BUNE LA MAIL
APP_URL="http://localhost/kim"
